{{{html}}}

<section class="single-cta">
    {{#has visibility="paid"}}
        <h2 class="single-cta-title">{{t "Content.Visibility.Paid"}}</h2>
    {{/has}}
    {{#has visibility="members"}}
        <h2 class="single-cta-title">{{t "Content.Visibility.Members"}}</h2>
    {{/has}}
    {{#has visibility="filter"}}
        <h2 class="single-cta-title">{{t "Content.Visibility.Filter" tiers=tiers}}</h2>
    {{/has}}
    {{#if @member}}
        <button class="button single-cta-button" data-portal="account/plans">{{t "Content.CTA.Upgrade"}}</button>
    {{else}}
        <button class="button single-cta-button" data-portal="signup">{{t "Content.CTA.Subscribe"}}</button>
        <br>
        <button class="button-text single-cta-footer" data-portal="signin">{{t "Content.CTA.SignIn"}}</button>
    {{/if}}
</section>