<article class="single {{post_class}}">
    <header class="single-header kg-canvas">
        {{#is "post"}}
            <div class="single-meta">
                <span class="single-meta-item single-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date published_at}}
                    </time>
                </span>
                <span class="single-meta-item single-meta-length">
                    {{reading_time}}
                </span>
                {{#primary_tag}}
                    <span class="single-meta-item single-meta-tag">
                        <a class="post-tag post-tag-{{slug}}" href="{{url}}">
                            {{name}}
                        </a>
                    </span>
                {{/primary_tag}}
            </div>
        {{/is}}
        <h1 class="single-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <div class="single-excerpt">
                {{custom_excerpt}}
            </div>
        {{/if}}
        {{#if feature_image}}
            {{#unless no_image}}
                <figure class="single-media kg-width-{{width}}">
                    <div class="u-placeholder horizontal">
                        <img class="lazyload u-object-fit" data-srcset="{{> srcset}}"
                            data-sizes="auto" src="{{img_url feature_image size="l"}}"
                            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                    </div>

                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/unless}}
        {{/if}}
    </header>
    <div class="single-content kg-canvas u-text-format">
        {{content}}
    </div>
    {{#is "post"}}
        <footer class="single-footer container medium">
            <div class="single-footer-left">
                {{#prev_post}}
                    <div class="navigation navigation-previous">
                        <a class="navigation-link" href="{{url}}"
                            aria-label="Previous post">
                            <svg class="icon navigation-icon">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </a>
                    </div>
                {{/prev_post}}
            </div>
            <div class="single-footer-middle">
                <div class="single-footer-top">
                    <h3 class="single-footer-title">Published by:</h3>
                    <div class="author-list">
                        {{#foreach authors}}
                            <div
                                class="author-image-placeholder u-placeholder square">
                                <a href="{{url}}" title="{{name}}">
                                    <img class="author-image lazyload u-object-fit"
                                        data-srcset="{{img_url profile_image size="xs"}}"
                                        src="{{img_url profile_image size="xs"}}"
                                        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        alt="{{name}}">
                                </a>
                            </div>
                        {{/foreach}}
                    </div>
                </div>
                <div class="single-footer-bottom">
                    <div class="share">
                        <a class="share-link share-link-facebook"
                            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                            target="_blank" rel="noopener noreferrer">
                            <svg class="icon icon-facebook">
                                <use xlink:href="#facebook"></use>
                            </svg>
                            Share
                        </a>
                        <a class="share-link share-link-twitter"
                            href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
                            target="_blank" rel="noopener noreferrer">
                            <svg class="icon icon-twitter">
                                <use xlink:href="#twitter"></use>
                            </svg>
                            Tweet
                        </a>
                    </div>
                </div>
            </div>
            <div class="single-footer-right">
                {{#next_post}}
                    <div class="navigation navigation-next">
                        <a class="navigation-link" href="{{url}}"
                            aria-label="Next post">
                            <svg class="icon navigation-icon">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                {{/next_post}}
            </div>
        </footer>
    {{/is}}
</article>