{{#get "posts" filter="featured:true" limit="all" as |featured|}}
  {{#if featured}}
    <section class="featured-wrapper">
      <h2 class="featured-title">Featured articles</h2>
      <div class="featured-feed owl">
        {{#foreach featured visibility="all"}}
          <article class="{{post_class}}">
            {{#if feature_image}}
              <div class="u-placeholder horizontal">
                <img class="u-object-fit"
                  srcset="{{> srcset}}"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  alt="{{title}}"
                  loading="lazy"
                >
              </div>
            {{/if}}
            <h3 class="post-title">{{title}}</h3>
            <a class="u-permalink" href={{url}} aria-label="{{title}}"></a>
          </article>
        {{/foreach}}
      </div>
    </section>
  {{/if}}
{{/get}}