<footer class="site-footer">
  <div class="social">
    {{#if @site.facebook}}
      <a class="social-item social-item-facebook" href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener noreferrer">
        <svg class="icon"><use xlink:href="#facebook-box"></use></svg>
      </a>
    {{/if}}
    {{#if @site.twitter}}
      <a class="social-item social-item-twitter" href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener noreferrer">
        <svg class="icon"><use xlink:href="#twitter-box"></use></svg>
      </a>
    {{/if}}
    <a class="social-item social-item-rss" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" target="_blank" rel="noopener noreferrer">
      <svg class="icon"><use xlink:href="#rss-box"></use></svg>
    </a>
  </div>

  {{> customize/copyright}}

  <nav class="footer-nav">
    {{navigation type="secondary"}}
    <a class="menu-item js-theme" href="#" data-dark="{{t "Dark theme"}}" data-light="{{t "Light theme"}}">
      <svg class="icon theme-icon theme-icon-dark"><use xlink:href="#brightness-2"></use></svg>
      <svg class="icon theme-icon theme-icon-light"><use xlink:href="#white-balance-sunny"></use></svg>
      <span class="theme-text">{{t "Dark theme"}}</span>
    </a>
  </nav>
</footer>