<article class="feed {{post_class}}">
    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
    </div>
    <h2 class="feed-title">{{title}}</h2>
    <div class="feed-right">
        {{#has visibility="paid"}}
            <i class="far fa-star icon feed-visibility feed-visibility-{{visibility}}">
            </i>
        {{/has}}
        <div class="feed-length">
            {{reading_time}}
        </div>
    </div>
    &nbsp;<i class="fas fa-chevron-right icon feed-icon">
    </i>
    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>
</article>
