<article class="feed {{visibility}} {{post_class}}">

{{#primary_tag}}
    <div class="feed-calendar">
        <a class="post-tag post-tag-{{slug}}" href="{{url}}">
            {{name}}
        </a>
    </div>
{{/primary_tag}}                

    <h2 class="feed-title">{{title}}</h2>

    <div class="feed-right">
        {{> "icons/star"}}
        <div class="feed-length">
            {{reading_time}}
        </div>
    </div>

    {{> "icons/chevron-right"}}

    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>

</article>
