{{!< default}}

<div class="content-area">
  <main class="site-main">
    {{#author}}
      <section class="author kg-width-narrow">
        <div class="author-image-placeholder u-placeholder square">
          <img class="author-image lazyload u-object-fit" data-src="{{img_url profile_image size="1x"}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{name}}">
        </div>
        {{#if website}}
          <h1 class="author-name"><a href="{{website}}" target="_blank" rel="noopener noreferrer">{{name}}</a></h1>
        {{else}}
          <h1 class="author-name">{{name}}</h1>
        {{/if}}
        {{#if location}}
          <span class="author-meta">{{location}}</span>
        {{/if}}
        <div class="author-bio">{{bio}}</div>
        <div class="share author-social">
          {{#if facebook}}
            <a class="share-link share-link-facebook author-social-item" href="https://www.facebook.com/{{facebook}}" target="_blank" rel="noopener noreferrer">
              <svg class="icon icon-facebook"><use xlink:href="#facebook"></use></svg>
              Facebook
            </a>
          {{/if}}
          {{#if twitter}}
            <a class="share-link share-link-twitter author-social-item" href="https://twitter.com/{{twitter}}" target="_blank" rel="noopener noreferrer">
              <svg class="icon icon-twitter"><use xlink:href="#twitter"></use></svg>
              Twitter
            </a>
          {{/if}}
        </div>
      </section>
    {{/author}}
    <div class="post-feed kg-width-normal">
      {{#foreach posts visibility="all"}}
        {{> "loop"}}
      {{/foreach}}
    </div>
    {{pagination}}
  </main>
</div>