{{!< default}}

<main class="site-main">

    {{#author}}
    <section class="author gh-canvas">

        <div class="author-image-placeholder u-placeholder square">
            <img class="author-image u-object-fit" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
        </div>

        {{#if website}}
            <h1 class="author-name">
                <a href="{{website}}" target="_blank" rel="noopener noreferrer">{{name}}</a>
            </h1>
        {{else}}
            <h1 class="author-name">{{name}}</h1>
        {{/if}}

        {{#if location}}
            <span class="author-meta">{{location}}</span>
        {{/if}}

        <div class="author-bio">{{bio}}</div>

        <div class="share author-social">
            {{#if facebook}}
                <a class="share-link share-link-facebook author-social-item" href="https://www.facebook.com/{{facebook}}" target="_blank" rel="noopener noreferrer">
                    {{> "icons/facebook"}}
                    Facebook
                </a>
            {{/if}}
            {{#if twitter}}
                <a class="share-link share-link-twitter author-social-item" href="https://twitter.com/{{twitter}}" target="_blank" rel="noopener noreferrer">
                    {{> "icons/twitter"}}
                    Twitter
                </a>
            {{/if}}
        </div>

    </section>
    {{/author}}

    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>