{{!< default}}

<div class="content-area">
  <main class="site-main">
    {{#post}}
      <article class="single {{post_class}} kg-width-narrow">
        <header class="single-header">
          <h1 class="single-title">{{title}}</h1>
          {{#if custom_excerpt}}
            <div class="single-excerpt">
              {{custom_excerpt}}
            </div>
          {{/if}}
        </header>
        {{#if feature_image}}
          <div class="single-media kg-width-wide u-placeholder horizontal">
            <img class="lazyload u-object-fit"
              data-srcset="{{> srcset}}"
              data-sizes="auto"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              alt="{{title}}"
            >
          </div>
        {{/if}}
        <div class="single-content u-text-format">
          {{#if access}}
            {{content}}
          {{else}}

          {{/if}}
        </div>
      </article>
    {{/post}}
  </main>
</div>