<div class="notification notification-subscribe">
  {{t "You've successfully subscribed to {site}." site=@site.title}}
  <button class="button-icon notification-close">
    <svg class="icon"><use xlink:href="#window-close"></use></svg>
  </button>
</div>

<div class="notification notification-signup">
  {{t "Great! Next, complete checkout for full access to {site}." site=@site.title}}
  <button class="button-icon notification-close">
    <svg class="icon"><use xlink:href="#window-close"></use></svg>
  </button>
</div>

<div class="notification notification-signin">
  {{t "Welcome back! You've successfully signed in."}}
  <button class="button-icon notification-close">
    <svg class="icon"><use xlink:href="#window-close"></use></svg>
  </button>
</div>

<div class="notification notification-checkout">
  {{t "Success! Your account is fully activated, you now have access to all content."}}
  <button class="button-icon notification-close">
    <svg class="icon"><use xlink:href="#window-close"></use></svg>
  </button>
</div>

<div class="notification notification-billing-update">
  {{t "Success! Your billing info is updated."}}
  <button class="button-icon notification-close">
    <svg class="icon"><use xlink:href="#window-close"></use></svg>
  </button>
</div>