{{!< ../default}}

<div class="content-area">
  <main class="site-main">
    <div class="single kg-width-narrow">
      <header class="single-header">
        <h1 class="single-title">{{t "Your account"}}</h1>
      </header>
      {{#unless @member}}
        <script>window.location = '{{@site.url}}/signin/';</script>
      {{else}}
        <div class="account">
          <div class="account-profile">
            <div class="account-image-placeholder u-placeholder square">
              <img class="account-image lazyload u-object-fit" data-email="{{@member.email}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </div>
            {{#if @member.name}}
              <h2 class="account-name">{{@member.name}}</h2>
            {{/if}}
            <div class="account-email">{{@member.email}}</div>
            <div class="account-button-list">
              {{#unless @member.paid}}
                <a class="button account-button members-upgrade" href="{{@site.url}}/upgrade/">{{t "Upgrade"}}</a>
              {{/unless}}
              <button class="button button-secondary account-button members-signout" data-members-signout>{{t "Sign out"}}</button>
            </div>
          </div>

          {{#if @member.paid}}
            <div class="account-subscription-list">
              {{#foreach @member.subscriptions}}
                <div class="account-subscription">
                  <div class="account-row">
                    <h3 class="account-row-title">{{t "Subscription status"}}</h3>
                    <div class="account-row-value account-status account-status-{{status}}">{{status}}</div>
                  </div>
                  <div class="account-row">
                    <h3 class="account-row-title">{{t "Your plan"}}</h3>
                    <div class="account-row-value">{{plan.nickname}} (${{price plan.amount}}/{{plan.interval}})</div>
                  </div>
                  <div class="account-row">
                    <h3 class="account-row-title">{{t "Start date"}}</h3>
                    <div class="account-row-value">{{date start_date}}</div>
                  </div>
                  <div class="account-row">
                    <h3 class="account-row-title">
                      {{#if cancel_at_period_end}}
                        {{t "Expires"}}
                      {{else}}
                        {{t "Next bill date"}}
                      {{/if}}
                    </h3>
                    <div class="account-row-value">{{date current_period_end}}</div>
                  </div>
                  <div class="account-row">
                    <h3 class="account-row-title">{{t "Billing info"}}</h3>
                    <div class="account-row-value">**** **** **** {{default_payment_card_last4}}</div>
                  </div>
                  <div class="account-action">
                    <a class="button button-secondary account-update" href="javascript:"
                      data-members-edit-billing
                      data-members-success="{{@site.url}}/account/?stripe=billing-update-success"
                      data-members-cancel="{{@site.url}}/account/?stripe=billing-update-cancel">Edit billing info</a>
                    <div class="account-cancel">
                      {{cancel_link class="account-cancel-link" errorClass="account-cancel-error"}}
                    </div>
                  </div>
                </div>
              {{/foreach}}
            </div>
          {{/if}}
        </div>
      {{/unless}}
    </div>
  </main>
</div>