{{!< ../default}}

{{#page}}

<div class="content-area">
    <main class="site-main">
        <div class="auth{{#unless @site.cover_image}} no-cover{{/unless}}">
            <div class="auth-content">
                <header class="site-header">
                    <a class="logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            {{#if @custom.white_logo_for_dark_mode}}
                                <img class="logo-image white" src="{{img_url @custom.white_logo_for_dark_mode}}" alt="{{@site.title}}">
                            {{/if}}
                            <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            <span class="logo-text">{{@site.title}}</span>
                        {{/if}}
                    </a>

                    {{#has slug="signup"}}
                        <a class="auth-link" href="/signin">Already a member? <span>Sign in</span></a>
                    {{else}}
                        <a class="auth-link" href="/signup">Don't have an account? <span>Sign up</span></a>
                    {{/has}}
                </header>

                <div class="auth-wrapper">
                    <header class="auth-header">
                        {{#if @site.icon}}
                            <img class="auth-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                        {{/if}}

                        <h1 class="auth-title">{{title}}</h1>

                        {{#if custom_excerpt}}
                            <div class="auth-excerpt">
                                {{custom_excerpt}}
                            </div>
                        {{/if}}
                    </header>

                    <form class="auth-form" data-members-form="{{#has slug="signup"}}signup{{else}}signin{{/has}}">
                        {{#has slug="signup"}}
                            <label>
                                <span>Name</span>
                                <input type="text" placeholder="Jamie Larson" data-members-name>
                            </label>
                        {{/has}}

                        <label>
                            <span>Email</span>
                            <input type="email" placeholder="jamie@example.com" data-members-email required>
                        </label>

                        <button class="auth-button button button-accent" type="submit">
                            <span class="default">Continue</span>
                            <span class="loader">{{> "icons/loader"}}</span>
                            <span class="success">{{> "icons/check"}}</span>
                        </button>

                        <section class="auth-notification">
                            <h2 class="auth-notification-title">Now check your email!</h2>
                            <p class="auth-notification-message">If the email doesn't arrive in 3 minutes, be sure to check your spam folder!</p>
                        </section>
                    </form>
                </div>

                <footer class="site-footer">
                    {{> "copyright"}}
                </footer>
            </div>

            {{#if @site.cover_image}}
                <div class="auth-cover">
                    <img src="{{@site.cover_image}}" alt="{{@site.title}}">
                </div>
            {{/if}}
        </div>
    </main>
</div>

{{/page}}