{{!< ../default}}

{{#page}}

{{#get "tiers" include="monthly_price,yearly_price,benefits" filter="visibility:public" limit="all"}}
    {{#match tiers.length "=" 1}}
        {{#match tiers.[0].type "=" "free"}}
            <script>window.location = '{{@site.url}}/signup';</script>
        {{/match}}
    {{/match}}
{{/get}}

<div class="content-area">
    <main class="site-main">
        <header class="single-header kg-canvas">
            <h1 class="single-title">{{title}}</h1>
            {{#if custom_excerpt}}
                <div class="single-excerpt">
                    {{custom_excerpt}}
                </div>
            {{/if}}
        </header>

        <div class="subscribe-container container" data-count="{{@products.length}}">
            <div class="subscribe">
                <div class="price-list">
                    <button class="button button-secondary price-button" data-price="monthly">Monthly</button>
                    <button class="button button-secondary price-button active" data-price="yearly">Yearly</button>
                </div>

                <div class="tier-list" data-price="yearly">
                    {{#get "tiers" include="monthly_price,yearly_price,benefits" filter="visibility:public" limit="all"}}
                        {{#foreach tiers}}
                            <section class="tier">
                                <header class="tier-header">
                                    <h2 class="tier-name">{{name}}</h2>
                                    {{#unless monthly_price}}
                                        {{#unless yearly_price}}
                                            <div class="tier-price">
                                                <span class="tier-amount">$0</span>
                                            </div>
                                        {{/unless}}
                                    {{/unless}}

                                    {{#if monthly_price}}
                                        <div class="tier-price" data-amount="{{monthly_price.amount}}" data-monthly>
                                            <span class="tier-amount">{{price monthly_price}}</span> / month
                                        </div>
                                    {{/if}}

                                    {{#if yearly_price}}
                                        <div class="tier-price" data-amount="{{yearly_price.amount}}" data-yearly>
                                            <span class="tier-amount">{{price yearly_price}}</span> / year
                                        </div>
                                    {{/if}}

                                    {{#if description}}
                                        <div class="tier-description">{{description}}</div>
                                    {{/if}}
                                </header>
                                {{#if benefits}}
                                    <ul class="tier-benefit-list">
                                        {{#foreach benefits}}
                                            <li class="tier-benefit">{{> "icons/check"}} {{name}}</li>
                                        {{/foreach}}
                                    </ul>
                                {{/if}}

                                {{#unless monthly_price}}
                                    {{#unless yearly_price}}
                                        <a class="tier-button button button-accent" href="{{@site.url}}/signup">Sign up</a>
                                    {{/unless}}
                                {{/unless}}

                                {{#if monthly_price}}
                                    <button class="tier-button button button-accent" data-members-plan="{{monthly_price.id}}" data-monthly>
                                        <span class="default">Choose {{name}}</span>
                                        <span class="loader">{{> "icons/loader"}}</span>
                                    </button>
                                {{/if}}

                                {{#if yearly_price}}
                                    <button class="tier-button button button-accent" data-members-plan="{{yearly_price.id}}" data-yearly>
                                        <span class="default">Choose {{name}}</span>
                                        <span class="loader">{{> "icons/loader"}}</span>
                                    </button>
                                {{/if}}
                            </section>
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    if (document.querySelectorAll('.tier-list [data-monthly]').length > 0 && document.querySelectorAll('.tier-list [data-yearly]').length > 0) {
        document.querySelector('.price-list').style.display = 'flex'

        document.querySelectorAll('.price-button').forEach(button => {
            button.addEventListener('click', e => {
                document.querySelector('.tier-list').setAttribute('data-price', button.getAttribute('data-price'))

                document.querySelectorAll('.price-button').forEach(button => {
                    button.classList.remove('active')
                })

                button.classList.add('active')
            })
        })

        document.querySelectorAll('.tier').forEach(tier => {
            const prices = []

            tier.querySelectorAll('.tier-price').forEach(price => {
                if (price.getAttribute('data-amount')) {
                    prices.push(parseInt(price.getAttribute('data-amount')))
                }
            })

            if (prices.length) {
                tier.setAttribute('data-save', 100 - Math.round(prices[1] / prices[0] / 12 * 100))
            }
        })
    }
</script>

{{/page}}