{{!< ../default}}

<div class="content-area">
  <main class="site-main">
    <div class="single">
      <header class="single-header kg-width-narrow">
        <h1 class="single-title">{{t "Choose your subscription"}}</h1>
        <div class="single-excerpt">
          {{t "Unlock full access to {site} and see the entire library of members-only content & updates" site=@site.title}}
        </div>
      </header>
      <div class="plan-list">
        <section class="plan">
          <header class="plan-header">
            <h2 class="plan-title">{{t "Free"}}</h2>
            <div class="plan-price">
              <div class="plan-amount">$0</div>
            </div>
          </header>
          <ul class="plan-feature-list">
            <li class="plan-feature">Access to all public posts</li>
            <li class="plan-feature">Regular updates with new content</li>
            <li class="plan-feature">No credit card required</li>
          </ul>
          <a class="button" href="{{@site.url}}/signup/">{{t "Sign up"}}</a>
        </section>
        <section class="plan">
          <header class="plan-header">
            <h2 class="plan-title">{{t "Monthly"}}</h2>
            <div class="plan-price">
              <div class="plan-amount">${{@price.monthly}}</div>
              {{t "/ month"}}
            </div>
          </header>
          <ul class="plan-feature-list">
            <li class="plan-feature">Full access to all private posts</li>
            <li class="plan-feature">Regular updates with new content</li>
            <li class="plan-feature">Support independent publishing</li>
            <li class="plan-feature">Simple, secure card payment</li>
          </ul>
          <button class="button" data-members-plan="Monthly">{{t "Choose monthly"}}{{> members/loader}}</button>
        </section>
        <section class="plan">
          <header class="plan-header">
            <h2 class="plan-title">{{t "Yearly"}}</h2>
            <div class="plan-price">
              <div class="plan-amount">${{@price.yearly}}</div>
              {{t "/ year"}}
            </div>
          </header>
          <ul class="plan-feature-list">
            <li class="plan-feature">Full access to all private posts</li>
            <li class="plan-feature">Regular updates with new content</li>
            <li class="plan-feature">Support independent publishing</li>
            <li class="plan-feature">Simple, secure card payment</li>
            <li class="plan-feature">One easy payment instead of 12!</li>
          </ul>
          <button class="button" data-members-plan="Yearly">{{t "Choose yearly"}}</button>
        </section>
      </div>
    </div>
  </main>
</div>